@tailwind base;
@tailwind components; 
@tailwind utilities;

/* <div className="relative w-full h-0 " style={{ paddingBottom: "56.25%" }}>
        <div className="absolute  left-0 w-full h-full"> */



/* primary colors
     blue color - #2866C4
     red color - #ca1c2b


*/
/* Add this CSS to your styles */
.paused {
  animation-play-state: paused !important;
}



  @font-face {
    font-family: 'Switzer';
    src: url('../Switzer-Variable.ttf') format('truetype');
    
    font-style:normal;
  }
  
  .font-switzer {
    font-family: 'Switzer', sans-serif;
  }

  
  

.relative {
    position: relative;
  }
  
  .inline-block::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black; /* Change this to your desired color */
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .inline-block:hover::after {
    transform: scaleX(1);
  }
  


  ::-webkit-scrollbar {
    width: 7px;
    height: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #303033;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2866C4;
    border-radius: 10px;
  }


  @keyframes scaleUp {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(0.8);
      opacity: 1;
    }
  }

  .loader-logo {
    animation: scale 2s ease-in-out forwards;
  }


  @media (max-width: 768px) {
    .loader-logo {
      animation: scaleUp 2s ease-in-out forwards;
    }
  }
  
  .btn {
    @apply px-6 py-3 text-lg font-semibold rounded-full transition duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
  
  .btn-primary {
    @apply bg-red-600 text-white hover:bg-red-700 focus:ring-red-500;
  }
  
  .btn-secondary {
    @apply bg-blue-600 text-white hover:bg-blue-700 focus:ring-blue-500;
  }